@import "tailwindcss";
@theme {
  --font-nerko: "Nerko One", "cursive";
  --font-Comfortaa:"Comfortaa" , "cursive" ;
}

.cards-container:has(.BlockOfCart:hover) .BlockOfCart:not(:hover) {
    filter: blur(2px);
    opacity: 0.9;
}


.active {
  color: #0099CC;
}

body {
    background-color: #272B30;
}